/* ------------------------------------------------
  Project:   Mednix - Multipurpose Medical & Healthcare WordPress Theme
  Author:    ThemeHt
------------------------------------------------ */

/* ------------------------
    Table of Contents

  1. General
  2. Transition
  3. Pre Loader
  4. Scroll to Top
  5. Header
  6. Footer
  7. Page Title

 
/* ------------------------
    General
------------------------*/
a, a:focus { text-decoration: none !important; }
a, a:visited { text-decoration: none; color: var(--themeht-text-color);}
a:focus, a:hover { color: var(--themeht-primary-color); text-decoration: none !important; }
a, button, input { outline: medium none !important; }
*::-moz-selection { background: var(--themeht-text-color); color: var(--themeht-white-color); text-shadow: none; }
::-moz-selection { background: var(--themeht-text-color); color: var(--themeht-white-color); text-shadow: none; }
::selection { background: var(--themeht-text-color); color: var(--themeht-white-color); text-shadow: none; }


/* ------------------------
    Transition
------------------------*/
a,
.btn,
button,
img,
span,
input,
a.text-btn-wrap,
.btn-icon-wrap,
.themeht-btn:before,
.themeht-btn i,
#ht-main-nav,
.main-nav > ul > li > a:before,
.main-nav .sub-menu li a:before,
.social-icons li:hover a,
.themeht-btn,
.service-item,
.service-item.style-3 .service-icon,
.service-image,
.featured-item,
.featured-icon,
.portfolio-item,
.price-table,
.service-menu li a:before,
.team-social-icon,
.team-member .team-desc,
.team-images img,
.team-share-icon span::before,
.social-icons.footer-social li a i,
.swiper-button-next, .swiper-button-prev,
.swiper .swiper-button-prev:after,
.swiper .swiper-button-next:after,
.wp-block-search .wp-block-search__inside-wrapper .wp-block-search__button:before,
.site-main .comment-navigation .nav-links a i,
.site-main .posts-navigation .nav-links a i,
.site-main .post-navigation .nav-links a i{
  -webkit-transition: all 0.5s ease-in-out 0s;
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

/* ------------------------
    Box Shadow
------------------------*/
.box-shadow,
#header-wrap.fixed-header,
.scroll-top,
.comment-respond,
.portfolio-meta-info,
.search-input{
    -webkit-box-shadow: 0px 25px 70px rgba(8, 10, 55, 0.08);
    -moz-box-shadow: 0px 25px 70px rgba(8, 10, 55, 0.08);
    box-shadow: 0px 25px 70px rgba(8, 10, 55, 0.08);
}


/* ------------------------
    Pre Loader
------------------------*/
#ht-preloader { background: var(--themeht-bg-dark-color); bottom: 0; height: 100%; left: 0; overflow: hidden !important; position: fixed; right: 0; text-align: center; top: 0; width: 100%; z-index: 99999; }
.clear-loader { z-index: 999; box-sizing: border-box; display: inline-block; left: 50%; transform: translateX(-50%) translateY(-50%); position: absolute; text-align: center; top: 50%; display: flex; justify-content: center; align-items: center; }
.loader-wrapper { position: relative; display: flex; align-items: center; justify-content: center; width: 150px; height: 150px; font-family: var(--themeht-typography-body-font-family); font-size: 1.4em; font-weight: 400; color: white; border-radius: 50%; background-color: transparent; user-select: none; }
.loader-inner { position: absolute; top: 0; left: 0; width: 100%; aspect-ratio: 1 / 1; border-radius: 50%; background-color: transparent; animation: loader-rotate 2s linear infinite; z-index: 0; }
.loader-wrapper span { display: inline-block; opacity: 0.4; transform: translateY(0); animation: loader-letter-anim 2s infinite; z-index: 1; border-radius: 50ch; border: none; }
.loader-wrapper span:nth-child(1) { animation-delay: 0s; }
.loader-wrapper span:nth-child(2) { animation-delay: 0.1s; }
.loader-wrapper span:nth-child(3) { animation-delay: 0.2s; }
.loader-wrapper span:nth-child(4) { animation-delay: 0.3s; }
.loader-wrapper span:nth-child(5) { animation-delay: 0.4s; }
.loader-wrapper span:nth-child(6) { animation-delay: 0.5s; }
.loader-wrapper span:nth-child(7) { animation-delay: 0.6s; }
.loader-wrapper span:nth-child(8) { animation-delay: 0.7s; }
.loader-wrapper span:nth-child(9) { animation-delay: 0.8s; }
.loader-wrapper span:nth-child(10) { animation-delay: 0.9s; }
 

/* ------------------------
    Scroll to Top
------------------------*/
.scroll-top { position: fixed; right: 50px; bottom: 50px; cursor: pointer; display: block; z-index: 10000; opacity: 0; visibility: hidden; transform: translateY(15px); -webkit-transition: all 200ms linear; transition: all 200ms linear; background: var(--themeht-primary-color); }
.scroll-top.scroll-visible { opacity: 1; visibility: visible; transform: translateY(0); }
.scroll-top { height: 40px; width: 40px; display: block; outline: 1px solid var(--themeht-primary-color); cursor: pointer; transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 1.5); }
.scroll-top svg line { stroke-width: 2; stroke: var(--themeht-white-color); fill: none; stroke-dasharray: 20; -webkit-transition: all 0.4s ease; transition: all 0.4s ease; }
.scroll-top:hover svg line.top { -webkit-transform: translateX(-40px); transform: translateX(-40px); }
.scroll-top:hover svg line.bottom { -webkit-transform: translateX(40px); transform: translateX(40px); }
.scroll-top:hover svg line.left { -webkit-transform: translateY(40px); transform: translateY(40px); }
.scroll-top:hover svg line.right { -webkit-transform: translateY(-40px); transform: translateY(-40px); }
.scroll-top .left-bar { position: absolute; z-index: 1; background-color: transparent; top: 19px; left: 5px; width: 18px; display: block; transform: rotate(-45deg); }
.scroll-top .left-bar:after { content: ""; background-color: var(--themeht-white-color); width: 18px; height: 2px; display: block; border-radius: 1px; transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 1.5); transform-origin: right center; z-index: -1; }
.scroll-top .right-bar { position: absolute; z-index: 1; background-color: transparent; top: 19px; left: 17px; width: 18px; display: block; transform: rotate(45deg); border-radius: 2px; }
.scroll-top .right-bar:after { content: ""; background-color: var(--themeht-white-color); width: 18px; height: 2px; display: block; border-radius: 1px; transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 1.5); transform-origin: left center; z-index: -1; }
.scroll-top:hover { transition: all 0.1s; }
.scroll-top:hover .left-bar:after { transform: rotate(-10deg); }
.scroll-top:hover .right-bar:after { transform: rotate(10deg); }
 

/* ------------------------
  Header
------------------------*/

/*--Header top--*/
.header-top { padding: 12px 100px; border-bottom: 1px solid lightcyan; }
.topbar-link a, .topbar-link{color: var(--themeht-text-color); font-weight: 500;}
.topbar-link i{margin-right: 5px; color: var(--themeht-primary-color); font-size: 20px; vertical-align: middle;}
.topbar-link a:hover{color: var(--themeht-primary-color)}
.topbar-link li {display: inline-block;  margin: 0; padding: 0 10px; font-size: 14px;}
.topbar-link li:first-child { padding-left: 0;}
.topbar-link li:last-child {padding-right: 0;}

.header-number { display: flex; align-items: flex-start; }
.header-number span { display: block; font-size: 12px; line-height: 1em; font-weight: 400; color: var(--themeht-text-color); margin-bottom: 2px; opacity: 0.8; }
.header-number a { color: var(--themeht-text-color); font-size: 18px; font-weight: 400; line-height: 1.2em; }
.header-number a:hover { color: var(--themeht-primary-color); text-decoration: underline !important; }
.header-number svg { width: 35px; height: 35px; margin-right: 15px; margin-top: 3px; }
.header-number svg path { fill: var(--themeht-primary-color); }
.header-number svg path:nth-child(2) { -webkit-animation: header-phone 1s infinite cubic-bezier(.1, .57, .5, 1); animation: header-phone 1s infinite cubic-bezier(.1, .57, .5, 1); }
.header-number svg path:nth-child(3) { -webkit-animation: header-phone2 1s infinite cubic-bezier(.1, .57, .5, 1); animation: header-phone2 1s infinite cubic-bezier(.1, .57, .5, 1); }

.header_one_pos { position: absolute; z-index: 9999; width: 100%; left: 0; top: 0; }
#header-wrap { position: relative; padding: 25px 70px 0; z-index: 999; }
/*.admin-bar .header, .admin-bar #header-wrap.fixed-header { top: 30px; }*/
.admin-bar .fixed-header, .admin-bar .fixed-header.header_one_pos { top: 32px; }
.fixed-header {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    background-color: var(--themeht-bg-dark-color);
    padding-top: 15px;
    padding-bottom: 15px;
    transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    -ms-animation-name: smoothScroll;
    -moz-animation-name: smoothScroll;
    -op-animation-name: smoothScroll;
    -webkit-animation-name: smoothScroll;
    animation-name: smoothScroll;
    -ms-animation-duration: 500ms;
    -moz-animation-duration: 500ms;
    -op-animation-duration: 500ms;
    -webkit-animation-duration: 500ms;
    animation-duration: 500ms;
    -ms-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -op-animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -ms-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -op-animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    box-shadow: 0 0 6px rgba(63, 6, 252, 0.15),
  0 0 15px rgba(159, 152, 255, 0.1);
    transition: box-shadow 0.3s ease;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.header-2.fixed-header { background-color: var(--themeht-white-color);}



/*--navigation--*/
.navbar-brand.logo { flex-shrink: 0; margin-right: 70px; }
.logo img { max-height: var(--logo-desktop-height); }
.ht-navigation { flex-wrap: nowrap; justify-content: flex-start; position: relative; display: flex; align-items: center; }

@media (min-width:1200px) {
    .main-nav .menu { flex-direction: row; display: flex; margin: 0; padding: 0; justify-content: center; }
    .navigation-top { margin-right: auto; background-color: rgba(255, 255, 255, 0.05); border-radius: 8px; z-index: 9; -webkit-backdrop-filter: blur(5px); backdrop-filter: blur(15px); border: 1px solid rgba(255, 255, 255, 0.06); transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s; padding: 7px 5px; }
}

.header input[type="search"] { height: 40px; padding: 16px 40px 16px 10px; }
.header .search-form button[type="submit"] { line-height: 40px; }
.main-nav li { position: relative; list-style-type: none; }
.main-nav > ul > li { margin: 0 2px; }
.main-nav > ul > li > a { font-weight: 500; color: var(--themeht-white-color); font-size: 14px; line-height: 1; position: relative; text-transform: uppercase; border-radius: 5px; padding: 12px 15px; display: inline-block; }
.main-nav > ul > li > .sub-menu-toggle { display: none; }
.main-nav ul.sub-menu { opacity: 0; visibility: hidden; position: absolute; top: 110%; left: 0; z-index: 99999; background: var(--themeht-white-color); border-radius: 5px; padding: 0; margin: 0; -webkit-transition: all 0.5s ease-in-out 0s; -moz-transition: all 0.5s ease-in-out 0s; -ms-transition: all 0.5s ease-in-out 0s; -o-transition: all 0.5s ease-in-out 0s; transition: all 0.5s ease-in-out 0s; box-shadow: 0px 4px 15px rgba(1, 15, 28, 0.06); }

@media (min-width:1200px) {
    .main-nav > ul > li.menu-item-has-children > a::after {
        font-family: bootstrap-icons !important;
        content: "\F282";
        border: none;
        margin-left: 0.3em;
        font-size: 14px;
        line-height: 1;
        vertical-align: -.125em;
        display: inline-block;
        font-weight: 500;
    }
    .main-nav ul li:hover > ul.sub-menu { top: 100%; opacity: 1; visibility: visible; }
    .main-nav ul.sub-menu li:hover ul.sub-menu { top: 0; }
    .main-nav .sub-menu li a:after { content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background: var(--themeht-primary-color);
  transition: width 0.4s ease; }
    .main-nav .sub-menu li a:hover:after, .main-nav ul li .sub-menu li.current-menu-item > a:after { width: 100%; }
    .main-nav .sub-menu li:last-child a:after{display: none;}
}

.main-nav ul.sub-menu li ul { left: 100% !important; top: 0; }
.main-nav .sub-menu li a { font-weight: 500; text-transform: uppercase; font-size: 13px; padding: 8px 25px 8px 22px; color: var(--themeht-text-color); display: block; border-bottom: 1px solid #f3ebeb; }
.main-nav .sub-menu li:last-child a {border-bottom: none; }
.sub-menu-toggle { display: block; position: absolute; right: 0; top: 8px; cursor: pointer; color: var(--themeht-white-color); font-size: 14px; line-height: 14px; }
.main-nav .sub-menu .sub-menu-toggle { color: var(--themeht-text-color); top: 15px; right: 10px; }

@media (min-width:992px) {
    .main-nav > ul > li > a:hover, .main-nav > ul > li.current-menu-item > a, .main-nav > ul > li.current-menu-parent > a { background: var(--themeht-white-color); color: var(--themeht-text-color); }
    .main-nav ul.sub-menu { min-width: 16em !important; max-width: 20em !important; }
    .main-nav .sub-menu li a:hover, .main-nav ul li .sub-menu li.current-menu-item > a { padding-left: 30px; color: var(--themeht-primary-color); }
    .main-nav .sub-menu li:hover .sub-menu-toggle, .main-nav ul li .sub-menu li.current-menu-item .sub-menu-toggle { color: var(--themeht-primary-color); }
}

.ht-mobile-menu-bg { display: none; }
.nav-menu-toggle { box-shadow: none; border: none; background: var(--themeht-white-color); padding: 5px; font-size: 40px; line-height: 1; display: none; color: var(--themeht-primary-color); margin-left: auto; border-radius: 8px; }
.closepanel { display: none; }
.closepanel i { display: inline-block; font-size: 40px; color: var(--themeht-primary-color); line-height: 1; }

@media (max-width:1200px) {
    .sub-menu-toggle { right: 0; color: var(--themeht-text-color); }
    .main-nav .menu { padding-left: 0; padding-top: 80px; }
    .admin-bar .main-nav .menu { padding-top: 120px; }
    .closepanel { position: absolute; right: 30px; top: 30px; }
    .admin-bar .closepanel { top: 60px; }
    .nav-menu-toggle, .ht-mobile-menu-bg, .closepanel { display: block; }
    .main-nav > ul > li > .sub-menu-toggle { display: block; }
    .main-nav > ul > li { border-bottom: 1px solid var(--themeht-border-light-color); margin: 0 20px; }
    .main-nav > ul > li > a { padding: 20px 0; display: inline-block; border: none; color: var(--themeht-text-color) !important; }
    .main-nav > ul > li > a:hover, .main-nav > ul > li.current-menu-item > a, .main-nav > ul > li.current-menu-parent > a, .main-nav ul li .sub-menu li.current-menu-item > a { color: var(--themeht-primary-color) !important; }
    .sub-menu-toggle { top: 20px; }
    .main-nav ul.sub-menu { position: static; display: none !important; box-shadow: none; padding: 0; border: none; }
    .main-nav .sub-menu li:last-child { border-bottom: none; }
    .main-nav .sub-menu li a { padding: 15px 0; }
    .main-nav ul.sub-menu.show { display: block !important; width: 100%; margin-left: 0; padding: 0em 1em 2em 1em; visibility: visible; opacity: 1; }
    .main-nav ul.sub-menu ul.sub-menu.show { padding-left: 1rem; }
    .main-nav .sub-menu .sub-menu-toggle { right: 0; top: 22px; font-size: 14px; }
    .main-nav { background-color: var(--themeht-white-color); position: fixed; top: 0; right: -400px; z-index: 1000; width: 300px; height: 100%; padding: 0; display: block; transition: all 900ms ease; -moz-transition: all 900ms ease; -webkit-transition: all 900ms ease; -ms-transition: all 900ms ease; -o-transition: all 900ms ease; -webkit-transform: translateX(400px); -ms-transform: translateX(400px); transform: translateX(400px); opacity: 0; }
    .main-nav.menu-active { right: 0px; -webkit-transform: translateX(0); -ms-transform: translateX(0); transform: translateX(0); visibility: visible; opacity: 1; overflow-y: scroll; -webkit-transition-delay: 600ms; -moz-transition-delay: 600ms; -ms-transition-delay: 600ms; -o-transition-delay: 600ms; transition-delay: 600ms; opacity: 1; }
    .ht-mobile-menu-bg { display: block; }
    .ht-mobile-menu-bg { position: fixed; right: 0; top: 0; width: 0%; height: 100%; z-index: 99; opacity: 0.8; background: var(--themeht-primary-color); -webkit-transform: translateX(101%); -ms-transform: translateX(101%); transform: translateX(101%); transition: all 900ms ease; -moz-transition: all 900ms ease; -webkit-transition: all 900ms ease; -ms-transition: all 900ms ease; -o-transition: all 900ms ease; -webkit-transition-delay: 300ms; -moz-transition-delay: 300ms; -ms-transition-delay: 300ms; -o-transition-delay: 300ms; transition-delay: 300ms; }
    .menu-active .ht-mobile-menu-bg { width: 100%; visibility: visible; transition: all 900ms ease; -moz-transition: all 900ms ease; -webkit-transition: all 900ms ease; -ms-transition: all 900ms ease; -o-transition: all 900ms ease; -webkit-transform: translateX(0%); -ms-transform: translateX(0%); transform: translateX(0%); }
}


/*--header search--*/
.search-icon button { background: none; box-shadow: none; border: none; width: auto; height: auto; padding: 0; font-size: 18px; color: var(--themeht-text-color); line-height: 1; }
.search-input { position: fixed; left: 0; width: 100%; z-index: 999; text-align: center; background: var(--themeht-white-color); z-index: 9999; top: 0; display: none; padding: 60px 0 30px; }
.search-inner-box { position: relative; }
.search-input .search-form label { width: 100%; padding-right: 0; }
.search-input .search-field { width: 100%; }
.search-input .search-form button[type="submit"] { font-size: 20px; right: 0; position: absolute; }
.right-nav { position: relative; }
.close-search { position: absolute; top: 0; right: 50px; cursor: pointer; font-size: 50px; color: var(--themeht-body-color); }
.close-search:hover { color: var(--themeht-primary-color); }


/*--header side menu*/
.ht-nav-toggle { cursor: pointer; }
#ht-main-nav { position: fixed; top: 0; bottom: 0; right: 0; height: 100%; overflow-y: scroll; z-index: 99999; visibility: hidden; opacity: 0; -webkit-transform: translateX(100%); -moz-transform: translateX(100%); -ms-transform: translateX(100%); -o-transform: translateX(100%); transform: translateX(100%); }
#ht-main-nav .ht-nav-toggle { margin-left: auto; }
a.ht-nav-toggle { position: relative; display: flex; cursor: pointer; width: 50px; height: 50px; align-items: center; justify-content: center; box-shadow: 0px 10px 35px 0px rgba(0, 0, 0, 0.1); backdrop-filter: brightness(120%) contrast(100%) saturate(102%) blur(10px) hue-rotate(0deg); border-radius: 5px; font-size: 26px; line-height: 1; border: 1px solid rgba(255, 255, 255, 0.06); color: var(--themeht-text-color); }
a.ht-nav-toggle.active { color: var(--themeht-white-color); }
.ht-nav-toggle i { -webkit-transition: 0.6s ease-out; -moz-transition: 0.6s ease-out; transition: 0.6s ease-out; }
.ht-nav-toggle:hover i { -webkit-transform: rotateZ(720deg); -moz-transform: rotateZ(720deg); transform: rotateZ(720deg); }
.ht-nav-toggle:hover, .ht-nav-toggle:focus, .ht-nav-toggle:active { outline: none; }
.menu-show #ht-main-nav { visibility: visible; opacity: 1; -webkit-transform: translateX(0); -moz-transform: translateX(0); -ms-transform: translateX(0); -o-transform: translateX(0); transform: translateX(0); }
#ht-main-nav .contact-info li p, #ht-main-nav .contact-info li a, #ht-main-nav .widget .widget-title { color: var(--themeht-white-color); }
#ht-main-nav .contact-info li span { color: #d5d5d5 }


/*--header style 2 & 3*/
.header-2 .navigation-top { padding: 0; background: transparent; border-radius: 0; backdrop-filter: none; border: none; }

@media (min-width:1200px) {
.active-bg-primary .main-nav > ul > li > a:hover,
.active-bg-primary .main-nav > ul > li.current-menu-item > a,
.active-bg-primary .main-nav > ul > li.current-menu-parent > a{background-color: var(--themeht-primary-color);}

.active-bg-white .main-nav > ul > li > a:hover,
.active-bg-white .main-nav > ul > li.current-menu-item > a,
.active-bg-white .main-nav > ul > li.current-menu-parent > a{background-color: var(--themeht-white-color);}

.active-bg-dark .main-nav > ul > li > a:hover,
.active-bg-dark .main-nav > ul > li.current-menu-item > a,
.active-bg-dark .main-nav > ul > li.current-menu-parent > a{background-color: var(--themeht-bg-dark-color);}
}

/* ------------------------
    Footer
------------------------*/
.footer { background-color: var(--themeht-bg-dark-color); overflow: hidden; position: relative; z-index: 9; clear: both; }
.footer .widget-title { margin-bottom: 30px; }
.footer-widget { margin-bottom: 0; }
.footer-widget.widget ul { margin-left: 0; padding-left: 0; margin-bottom: 0; }
.footer-widget.widget ul li { list-style-type: none; margin-bottom: 15px; }
.primary-footer { position: relative; z-index: 99; padding: 100px 0 100px; }
.footer h5.widget-title { position: relative; padding-left: 0; font-size: 20px; line-height: 30px; font-weight: 500; color: var(--themeht-white-color); text-transform: uppercase; }
.footer h5.widget-title::before{display: none;}
.footer-widget .menu li { margin-bottom: 15px; text-transform: capitalize; }
.footer-widget .menu li:last-child { margin-bottom: 0; }
.footer-widget .menu li a { color: var(--themeht-white-color); position: relative; padding-left: 0 !important; font-size: 16px !important; font-weight: 500; }
.footer-widget .menu li a:hover { color: var(--themeht-white-color); text-decoration: underline !important; }
.footer-widget .menu li a:before { display: none; }
.footer-menu { margin-left: 0; padding-left: 0; margin-bottom: 0; }
.footer-menu li { list-style-type: none; margin-bottom: 15px; }
.footer-menu li:last-child { margin-bottom: 0; }
.footer-menu li a { color: var(--themeht-white-color); font-size: 16px; font-weight: 500; }
.footer-menu li a:hover { color: var(--themeht-primary-color); text-decoration: underline !important; }
.subscribe-form { display: flex; align-items: center; position: relative; margin-top: 20px; }
.subscribe-form button { border: inherit; color: var(--themeht-white-color); line-height: inherit; position: absolute; right: 10px; top: auto; padding: 0; font-size: 18px; background: var(--themeht-primary-color); width: 35px; height: 35px; display: flex; align-items: center; justify-content: center; border-radius: 50%; }
.subscribe-form input[type="email"]:focus { border: 1px solid var(--themeht-primary-color) !important; }


/* ------------------------
    Page Title
------------------------*/
.page-title { background-color: var(--themeht-bg-dark-color); position: relative; overflow: hidden; display: block; z-index: 1; padding: 220px 0 0; border-bottom-left-radius: 30px; border-bottom-right-radius: 30px; }
.breadcrumb { margin: 0px 10px; display: inline-flex; align-items: center; margin: 0; background-color: var(--themeht-white-color); border-radius: 15px 15px 0 0; padding: 15px 15px 10px 15px; position: relative; }
.breadcrumb-item { z-index: 9; display: inline-block; font-weight: 600; word-break: break-all; }
.breadcrumb-item, .breadcrumb-item a { display: flex; align-items: center; font-size: 12px; line-height: 12px; font-weight: 600; letter-spacing: 1px; color: var(--themeht-text-color); text-transform: uppercase; }
.breadcrumb-item.active { color: var(--themeht-text-color); }
.breadcrumb-item a:hover { color: var(--themeht-primary-color); }
.breadcrumb-item + .breadcrumb-item:before { color: var(--themeht-text-color); }
.breadcrumb i { border-radius: 5px; color: var(--themeht-white-color); background-color: var(--themeht-primary-color); height: 26px; width: 26px; line-height: 1; display: flex; margin-right: 10px !important; align-items: center; justify-content: center; }
.page-title h1 { font-size: 60px; line-height: 70px; font-weight: 500; word-break: break-word; margin-bottom: 100px; color: var(--themeht-white-color) }
.page-title-bg { background-size: cover; background-position: top 10% center; background-repeat: no-repeat; position: absolute; top: 0; width: 100%; height: 100%; right: 0; z-index: -1; }
.page-title-bg:after { background-image: linear-gradient(274deg, #001a1e00 38%, #001a1e8a 70%, #001a1e), linear-gradient(1deg, #001a1e00 55%, #001a1e33 83%, #001a1eb5), linear-gradient(#001a1e00 47%, #001a1e33); position: absolute; inset: 0%; content: ""; }
.breadcrumb-2 .page-title, .breadcrumb-3 .page-title { padding: 170px 0 0; border-radius: 30px; }
.breadcrumb:before { content: ""; display: block; width: 50px; height: 50px; position: absolute; border-radius: 20px; bottom: -29px; right: -28px; box-shadow: inset -20px 30px 0 0 var(--themeht-white-color); transform: rotate(185deg); }
.breadcrumb::after { content: ""; display: block; width: 50px; height: 50px; position: absolute; border-radius: 20px; bottom: -20px; left: -20px; box-shadow: inset -20px 30px 0 0 var(--themeht-white-color); transform: rotate(90deg); }


.elementor-editor-active.postid-6941 #ht-main-nav.ht-main-nav-content { position: relative; transform: inherit; opacity: 1; visibility: visible; }
.elementor-editor-active .header_one_pos { background-color: var(--themeht-bg-dark-color); }


/* Parent container to hold blobs */
.blobs-wrapper { position: absolute; top: 0; left: 0; width: 100%; height: 100%; overflow: hidden; z-index: 0; /* Stays behind your content */ pointer-events: none; /* Makes sure blobs don’t block clicks */ }
.ht-blob { position: absolute; border-radius: 50%; filter: blur(7vw); animation: floatBlob 12s ease-in-out infinite alternate; }
.ht-blob-one { background: var(--themeht-primary-color); width: 30vw; height: 30vw; top: -15vw; left: -15vw; }
.ht-blob-two { background: var(--themeht-primary-color); width: 30vw; height: 30vw; bottom: -15vw; right: -15vw; filter: blur(7vw) invert(1); }

@keyframes floatBlob {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(2vw, -2vw);
  }
  100% {
    transform: translate(0, 0);
  }
}

